@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|family=Quicksand:100,200,300,400,500,600,700');


/*--------------------------------------------------- SPECIAL/TEXT */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #dddcd9;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.inline-block {
    display: inline-block;
}

header, footer {
        width: 100%;
        padding: 10px 0;
    }

section {
    padding-bottom: 120px;
}

.block-divider{
    width: 75px;
    height: 2px;
    border: 0;
    border-radius: 25%;
    background-color: #2f528c;
}

.block-divider--short {
    width: 35px;
}

h2, 
h3, 
h5, 
p {
    color: #535353; 
}

h2 {
    font-weight: 200;
    text-align: center;
}

/*--------------------------------------------------- HEADER */

header {
    background-color: #dcd8cd;
    top: 0;
    z-index: 1;
    position: sticky;
}

.logo {
    background-image: url("../assets/images/genpangraphix/gplogo.png");
    width: 100%;
    height: auto;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #dcd8cd;
    overflow: hidden;
}

/*--------------------------------------------------- NAVBAR */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    float: right;
}

.navbar {
    border-radius: 50px;
    flex: auto;
}

.navbar .navbar-toggler{
    border: 0;
    margin-right: 5px;
}

.navbar .navbar-nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: right;
    position: inherit;
}

/*--------------------------------------------------- HOME */

.img-container {
    height: 50vh;
    max-width: 100%;
    min-height: auto;
    background: url("../assets/images/genpangraphix/gen.jpg") no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------------------- ABOUT */

.about-container p {
    text-align: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.backgroung-img {
    background-image: url("../assets/images/genpangraphix/gp.png");
}


.about-container {
    background-color: #dddcd9;

}

.bio-text {
    background-color: rgba(2, 2, 2, 0.05);
    border-radius: 2%;
}
/*--------------------------------------------------- FOOTER */

footer {
    background-color: #535353;
    margin: 0;
    bottom: 0;
    width: 100%;
}

.social-links li a i {
    display: inline-block;
    width: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #dfdfdf;
    background: #808080;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}

.social-links li a i:hover {
    background: #2f528c;
}

#footer-info {
    padding: 0 20px;
    text-align: center;
}

.general-sub {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #dcd8cd;
}

/*----------------------------------------------------BOOKING */

.contact-heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 20px;
}

.center-form {
	padding-top: 10px;
	margin: 0 auto;
	max-width: 70%;
    border-radius: 30%;
}

button[type="submit"] {
	margin-top: 15px;
	margin-bottom: 20px;
	color: #dcd8cd;
	background-color: #2f528c;
    border: none;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/*----------------------------------------------------Media Queries */

@media(min-width: 767px) {
    .center-form {
		padding-top: 30px;
		min-height: 240px;
		margin: 0 auto;
		max-width: 50%;
	}
}